.cont {
    /* background-color: greenyellow; */
    width: 70%;
    height: 300px;
    position: relative;
    /* top: 1100px; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
.first {
    /* background-color: pink; */
    width: 35%;
    height: 100%;
    position: relative;
}
.first img {
    width: 100%;
    height: 100%;
}
.text {
    position: absolute;
    top: 10px;
    left: 10px;
}
.first a {
    text-decoration: none;
    color: black;
}
.second {
    /* background-color: blueviolet; */
    width: 62%;
    height: 100%;
    position: relative;
}
.second img {
    width: 100%;
    height: 100%;
}
.text2 {
    position: absolute;
    top: 80px;
    left: 20px;
}
.text2 a {
    text-decoration: none;
    color: black;
}